.inter-body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

body {
    font-family: "Inter", sans-serif;
}

.profile-img {
    max-width: 20%;
    border-radius: 25%;
}

 /* grid */
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* ratio of column widths */
    grid-template-rows: 1fr 1fr;
  }

 /* parent grid */
  .parent {
    display: grid;
    gap: 16px;
    height: 300px;
  }

h1 {
    font-family: "Inter", sans-serif;
}

/* Link style as a button */
a:link, a:visited {
    background-color: black;
    color: white;
    font-family: "Inter", sans-serif;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25%;
  }
  
  a:hover, a:active {
    background-color: darkgrey;
  }

