.inter-body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

/* Navigation Menu */
.topnav {
    background-color: white;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: flex;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    color: grey;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }


body {
    font-family: "Inter", sans-serif;
}

.profile-img {
    max-width: 20%;
    border-radius: 25%;
}

 /* grid */
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* ratio of column widths */
    grid-template-rows: 1fr 1fr;
  }

 /* parent grid */
  .parent {
    display: grid;
    gap: 16px;
    height: 300px;
  }

h1.intro {
    font-family: "Inter", sans-serif;
}

h3.intro {
    font-family: "Inter", sans-serif;
}

p.intro {
    font-family: "Inter", sans-serif;
}

/* Link style as a button */
a:link, a:visited {
    background-color: black;
    color: white;
    font-family: "Inter", sans-serif;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25%;
  }
  
  a:hover, a:active {
    background-color: darkgrey;
  }

